.profile-main-heading{
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 126.667% */
  
}
.edit-profile-text{
    color: var(--gray-900, #101828);
    /* Text lg/Medium */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}
.form-wrap{
    display: flex;
padding: 24px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
align-self: stretch;
background: var(--White, #FFF);
}
.custom-input{
    margin-bottom: 24px;
}
.title-lable {
    color: var(--gray-700, #344054);

    /* Text sm/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}
