.procedure-main {
  margin-top: 100px;
}

.textarea-height.form-control {
  height: 300px;
  padding: 15px;
}


.textarea {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
}

.input-wrap {
  position: relative;
}

.input-wrap .input {
  position: absolute;
  width: 100%;
  left: 0;
}

.width-machine {
  padding: 0 1rem;
}

.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
}

.textarea[contenteditable]:empty::before {
  content: "Placeholder still possible";
  color: gray;
}