  .dashboard-header{
    margin: 32px;
    .user-heading{
      color: var(--gray-900, #101828);
      font-family: Inter;
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: 38px;
    }
    .user-text{
      color: var(--gray-500, #667085);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .cards-wrap{
    margin: 0px 32px;
    width: calc(100% - 64px);
    border-top: 1px solid var(--gray-200, #EAECF0);
    .category-box {
      display: flex;
      padding: 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      flex: 1 0 0;
      border-radius: 8px;
      border: 1px solid var(--gray-200, #EAECF0);
      background: var(--White, #FFF);
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
      .card-title{
        color: var(--gray-900, #101828);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }
      .card-count{
        color: var(--gray-900, #101828);
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.72px;
      }
      .progress{
        color: var(--gray-500, #667085);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
      }
    }
  }
  .cards-wrap{
  margin: 0px 32px;
  width: calc(100% - 64px);
  border-top: 1px solid var(--gray-200, #EAECF0);
  .category-box {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid var(--gray-200, #EAECF0);
    background: var(--White, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
    .card-title{
      color: var(--gray-900, #101828);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
    .card-count{
      color: var(--gray-900, #101828);
      font-family: Inter;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 44px;
      letter-spacing: -0.72px;
    }
    .progress{
      color: var(--gray-500, #667085);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      background-color: white;
    }
  }
}
.users-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px;
  width: calc(100% - 64px);
  .user-heading{
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }
}
.users-wrap input {
  display: flex;
width: 320px;
flex-direction: column;
padding: 10px 14px;
align-items: center;
gap: 8px;
align-self: stretch;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid var(--gray-300, #D0D5DD);
background: var(--White, #FFF);

/* Shadow/xs */
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
